/* .abutton--primary {
    width: fit-content;
    max-width: 250px;
    padding: 15px;
    min-height: 50px;
    border: none;
    background-color: #3EB489;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
} */

.button--primary {
    display: flex;
    cursor: pointer;
    width: fit-content;
    background-color: #202020;
    color: #f4f4f4;
    outline: none;
    text-decoration: none;
    padding: 1em 1.5em;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.075rem;
    border: none;
    font-weight: 600;
    transition: background-color 200ms ease-in-out;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
}


.button--primary:hover {
    background-color: #3EB489;
}

.button--primary:focus-visible {
    color: #202020;
    border: 2.5px solid blue;
    transition: background-color 0ms;
    -webkit-transition: background-color 0ms;
    -moz-transition: background-color 0ms;
    -ms-transition: background-color 0ms;
    -o-transition: background-color 0ms;
}